<button class="btn btn-primary" (click)="downloadFile()"><i class="fa fa-file-pdf-o"></i> Download</button>

<br />

<button class="btn btn-primary" (click)="downloadFile1()"><i class="fa fa-file-pdf-o"></i> Download 1</button>

<br />

<button class="btn btn-primary" (click)="downloadFile2()"><i class="fa fa-file-pdf-o"></i> Download 2</button>

<br />

<button class="btn btn-primary" (click)="downloadFile3()"><i class="fa fa-file-pdf-o"></i> Download 3</button>

<br />

<button class="btn btn-primary" (click)="downloadFile4()"><i class="fa fa-file-pdf-o"></i> Download 4</button>

<br />

<button class="btn btn-primary" (click)="downloadFile5()"><i class="fa fa-file-pdf-o"></i> Download 5</button>

<br />
<button class="btn btn-primary" (click)="downloadFile6()"><i class="fa fa-file-pdf-o"></i> Download 99</button>

<input type="text"
       class="form-control"
       name="LastName"
       [(ngModel)]="currentModel"
       #refLastName="ngModel"
       id="LastName" required>