<form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)="onSubmit()">
    <fieldset>

        <!-- Form Name -->
        <legend>New Company</legend>

        <!-- RUC input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ruc">RUC</label>
            <div class="col-md-4">
                <input id="rucinput" name="rucinput" type="text" placeholder="placeholder" class="form-control input-md"
                       [(ngModel)]="currentModel.Ruc" #refRuc="ngModel" required>
                <div *ngIf="!refRuc.valid  && (refRuc.dirty || refRuc.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!refRuc.errors.required">
                        Ruc is required
                    </div>
                </div>
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Search logo</label>
            <div class="col-md-4">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
        </div>

        <!-- Name input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Name:</label>
            <div class="col-md-4">
                <input id="nameinput" name="nameinput" type="text" placeholder="placeholder" class="form-control input-md"
                       [(ngModel)]="currentModel.Name" #refName="ngModel" required>
                <div *ngIf="!refName.valid  && (refName.dirty || refName.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!refName.errors.required">
                        Name is required
                    </div>
                </div>
            </div>
        </div>

        <!-- Email input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="prependedtext">Email:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input id="emailimput" name="emailimput" type="text" class="form-control" placeholder="placeholder"
                           [(ngModel)]="currentModel.Email" #refEmail="ngModel"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                </div>
                <div *ngIf="!refEmail.valid  && (refEmail.dirty || refEmail.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!refEmail.errors.required">
                        Email is required
                    </div>
                </div>
            </div>
        </div>

        <!-- PhoneNumber input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Phone Number:</label>
            <div class="col-md-4">
                <input id="phoneNumberinput" name="phoneNumberinput" type="text" placeholder="placeholder" class="form-control input-md"
                       [(ngModel)]="currentModel.PhoneNumber" #refPhoneNumber="ngModel" required>
                <div *ngIf="!refName.valid  && (refName.dirty || refName.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!refName.errors.required">
                        Phone number is required
                    </div>
                </div>
            </div>
        </div>

        <!-- Address input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Address:</label>
            <div class="col-md-4">
                <input id="addressinput" name="addressinput" type="text" placeholder="placeholder" class="form-control input-md"
                       [(ngModel)]="currentModel.Address">
            </div>
        </div>

        <!-- City input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">City:</label>
            <div class="col-md-4">
                <input id="cityinput" name="cityinput" type="text" placeholder="placeholder" class="form-control input-md"
                       [(ngModel)]="currentModel.City">
            </div>
        </div>

        <div class="row">
            <div style="margin-top:10px;" class="col-md-4">
                <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">Submit</button>
            </div>
        </div>

    </fieldset>
</form>